---
platform: van1
instrument: CAPS_NO2
type: simpleSerial
#verbose: 1
queue:
  name: "/dev-measurements"
  max_msg_size: 8000
  max_msgs: 50
command_queue:
  name: "/CAPS_NO2_command"
  max_msg_size: 200
  max_msgs: 30
response_queue:
  name: "/CAPS_NO2_response"
  max_msg_size: 200
  max_msgs: 30
response_header: "% "
connection: serial
serial:
  device: "/dev/usb_serial_CAPS_NO2"
  baud: 9600
measurement_delay_secs: 0 
stream:
  line_delimiter: "\r\n"
  item_delimiter: ","
  items: "timesecs,NO2,Loss,Pressure,Temperature,Signal_Level,Calibration,Status,Last_Baseline"
  formats: "f,f,f,f,f,f,f,s,f" 
  units: "seconds,ppb,Mm-1,torr,temp_k,units,units,units,Mm-1"
  acqTypes: "engineering,measurement_calibrated,engineering,engineering,engineering,engineering,engineering,engineering,engineering"
  
logs:
  log_dir: "/home/vandaq/vandaq/acquirer/log"
  log_file: "acquirer_CAPS_NO2.log"
  log_level: "INFO"
  logger_name: "CAPS_NO2"

alarms:
  Pressure:
    - value_<:
        value: 700
        alarm_level: alarm
        alarm_type: pressure_low
        alarm_message: "Pressure below 700 torr"
        impacts_data: true
    - value_>:
        value: 800 
        alarm_level: alarm
        alarm_type: pressure_high
        alarm_message: "Pressure above 800 torr"
        impacts_data: true
  Loss:
    - value_>:
        value: 1000
        alarm_level: alarm
        alarm_type: loss_high
        alarm_message: "Loss > 1000 Mm-1"
        impacts_data: true
  Status:
    - substr_is:
        substr_begin: 0
        substr_end: 1
        value: "3"
        alarm_level: alarm
        alarm_type: instrument_auto_cal
        alarm_message: "Internal filter inline"
        impacts_data: true
    - substr_is:
        substr_begin: 1
        substr_end: 2
        value: "1"
        alarm_level: alarm
        alarm_type: instrument_auto_cal
        alarm_message: "Internal baseline flush period"
        impacts_data: true
    - substr_is:
        substr_begin: 1
        substr_end: 2
        value: "2"
        alarm_level: alarm
        alarm_type: instrument_auto_cal
        alarm_message: "Internal baseline measurement period"
        impacts_data: true
