---
platform: van1
instrument: DMS_PAX_BlackCarbon
type: simpleSerial
queue:
  name: "/dev-measurements"
  max_msg_size: 8000
  max_msgs: 50
connection: serial
serial:
  device: "/dev/ttyUSB0"
  baud: 115200
measurement_delay_secs: 0 
stream:
  line_delimiter: "\r\n"
  item_delimiter: ","
  items: "x,x,x,x,x,x,Bscat,scat_raw,Babs,Babs_phase,Babs_noise,laser_power,laser_power_phase,Q_factor,mic_P_at_res_freq,res_freq,backgrnd_Bscat,mic_raw,bkgrnd_Babs,bkgrnd_Babs_phase,Bext,single_scat_albedo,BC_mass,sample_T,sample_RH,sample_dewpoint,x,x,x,x,x,x,x,x,x,plus5V,plus3.3V,x,5Vdig,rtc_batt,x,x,laser_pd_current,laser_current,laser_T,x,cell_P,inlet_P,sample_pump_P,plus12V,sample_count,mode,countdown_timer,disk_free_space,laser_on_time,x,usb_status,alarms,inst_date,inst_time"
  formats: "x,x,x,x,x,x,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f,x,x,x,x,x,x,x,x,x,f,f,x,f,f,x,x,f,f,f,x,f,f,f,f,f,f,f,f,f,x,f,s,%Y-%m-%d,%H:%M:%S"
  units: "x,x,x,x,x,x,1/Mm,counts,1/Mm,deg,1/Mm,W,deg,counts,dB,Hz,1/Mm,counts,1/Mm,deg,1/Mm,counts,ug/m3,temp_C,%_rh,temp_C,x,x,x,x,x,x,x,x,x,V,V,x,V,V,x,x,Amp,Amp,temp_C,x,mbar,mbar,mbar,V,quantity,quantity,secs,Gbytes,hours,x,quantity,string,date,time"
  acqTypes: "x,x,x,x,x,x,engineering,engineering,engineering,engineering,engineering,engineering,engineering,engineering,engineering,engineering,engineering,engineering,engineering,engineering,engineering,engineering,measurement_calibrated,engineering,engineering,engineering,x,x,x,x,x,x,x,x,x,engineering,engineering,x,engineering,engineering,x,x,engineering,engineering,engineering,x,engineering,engineering,engineering,plus12V,engineering,engineering,engineering,engineering,engineering,x,engineering,alarms,inst_date,inst_time"
alarms:
  parsed:
    Bscat:
      field: alarms
      substr: 6
      values:
        y:
          level: WARNING
          message: "Scattering coefficient approaching boundaries"
        r:
          level: ALARM
          message: "Scattering coefficient out of bounds"
    scat_raw:
      field: alarms
      substr: 7
      values:
        y:
          level: WARNING
          message: "scattering coefficient approaching boundaries"
        r:
          level: ALARM
          message: "scattering coefficient out of bounds"
    Babs:
      field: alarms
      substr: 8
      values:
        y:
          level: WARNING
          message: "Absorption coefficient approaching boundaries"
        r:
          level: ALARM
          message: "Absorption coefficient out of bounds"
    Babs_phase:
      field: alarms
      substr: 9
      values:
        y:
          level: WARNING
          message: "Babs measurement phase approaching boundaries"
        r:
          level: ALARM
          message: "Babs measurement phase out of bounds"
    Babs_noise:
      field: alarms
      substr: 10
      values:
        y:
          level: WARNING
          message: "Babs uncertainty approaching boundaries"
        r:
          level: ALARM
          message: "Babs uncertainty out of bounds"
    laser_power:
      field: alarms
      substr: 11
      values:
        y:
          level: WARNING
          message: "Laser power approaching boundaries"
        r:
          level: ALARM
          message: "Laser power out of bounds"
    laser_power_phase:
      field: alarms
      substr: 12
      values:
        y:
          level: WARNING
          message: "Laser power phase approaching boundaries"
        r:
          level: ALARM
          message: "Laser power phase out of bounds"
    Q_factor:
      field: alarms
      substr: 13
      values:
        y:
          level: WARNING
          message: "Resonator quality factor approaching boundaries"
        r:
          level: ALARM
          message: "Resonator quality factor out of bounds"
    mic_P_at_res_freq:
      field: alarms
      substr: 14
      values:
        y:
          level: WARNING
          message: "Microphone pressure at the resonant frequency approaching boundaries"
        r:
          level: ALARM
          message: "Microphone pressure at the resonant frequency out of bounds"
    res_freq:
      field: alarms
      substr: 15
      values:
        y:
          level: WARNING
          message: "Resonance frequency of the microphone approaching boundaries"
        r:
          level: ALARM
          message: "Resonance frequency of the microphone out of bounds"
    backgrnd_Bscat:
      field: alarms
      substr: 16
      values:
        y:
          level: WARNING
          message: "Background for the scattering measurement approaching boundaries"
        r:
          level: ALARM
          message: "Background for the scattering measurement out of bounds"
    mic_raw:
      field: alarms
      substr: 17
      values:
        y:
          level: WARNING
          message: "Value of the microphone reading approaching boundaries"
        r:
          level: ALARM
          message: "Value of the microphone reading out of bounds"
    bkgrnd_Babs:
      field: alarms
      substr: 18
      values:
        y:
          level: WARNING
          message: "Background for the absorption measurement approaching boundaries"
        r:
          level: ALARM
          message: "Background for the absorption measurement out of bounds"
    bkgrnd_Babs_phase:
      field: alarms
      substr: 19
      values:
        y:
          level: WARNING
          message: "Phase of the Babs background measurement approaching boundaries"
        r:
          level: ALARM
          message: "Phase of the Babs background measurement out of bounds"
    Bext:
      field: alarms
      substr: 20
      values:
        y:
          level: WARNING
          message: "Extinction coefficient approaching boundaries"
        r:
          level: ALARM
          message: "Extinction coefficient out of bounds"
    single_scat_albedo:
      field: alarms
      substr: 21
      values:
        y:
          level: WARNING
          message: "Ratio of scattering coefficient to total extinction coefficient approaching boundaries"
        r:
          level: ALARM
          message: "Ratio of scattering coefficient to total extinction coefficient out of bounds"
    BC_mass:
      field: alarms
      substr: 22
      values:
        y:
          level: WARNING
          message: "Black carbon mass approaching boundaries"
        r:
          level: ALARM
          message: "Black carbon mass out of bounds"
    sample_T:
      field: alarms
      substr: 23
      values:
        y:
          level: WARNING
          message: "Sample temperature approaching boundaries"
        r:
          level: ALARM
          message: "Sample temperature out of bounds"
    sample_RH:
      field: alarms
      substr: 24
      values:
        y:
          level: WARNING
          message: "Sample RH approaching boundaries"
        r:
          level: ALARM
          message: "Sample RH out of bounds"
    sample_dewpoint:
      field: alarms
      substr: 25
      values:
        y:
          level: WARNING
          message: "Sample dewpoint approaching boundaries"
        r:
          level: ALARM
          message: "Sample dewpoint out of bounds"
    plus5V:
      field: alarms
      substr: 35
      values:
        y:
          level: WARNING
          message: "5V power supply approaching boundaries"
        r:
          level: ALARM
          message: "5V power supply out of bounds"
    plus3.3V:
      field: alarms
      substr: 36
      values:
        y:
          level: WARNING
          message: "3.3V power supply approaching boundaries"
        r:
          level: ALARM
          message: "3.3V power supply out of bounds"
    5Vdig:
      field: alarms
      substr: 38
      values:
        y:
          level: WARNING
          message: "5V digital power supply approaching boundaries"
        r:
          level: ALARM
          message: "5V digital power supply out of bounds"
    rtc_batt:
      field: alarms
      substr: 39
      values:
        y:
          level: WARNING
          message: "Real time clock battery approaching boundaries"
        r:
          level: ALARM
          message: "Real time clock battery out of bounds"
    rtc_batt:
      field: alarms
      substr: 39
      values:
        y:
          level: WARNING
          message: "Real time clock battery approaching boundaries"
        r:
          level: ALARM
          message: "Real time clock battery out of bounds"      
logs:
  log_dir: "/home/robin/vandaq/acquirer/log"
  log_file: "acquirer_DMS_PAX_BlackCarbon.log"
  log_level: "INFO"
  logger_name: "DMS_PAX_BlackCarbon"
