body {
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: rgb(242, 243, 182)
}

.ambient_reading {
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.engineering_reading {
	font-size: 14px;
	font-weight: bold;
	color: yellow;
}

@keyframes flash-alarm {
    0%, 100% { outline-color: red; }
    50% { outline-color: transparent; }
}

@keyframes flash-warning {
    0%, 100% { outline-color: yellow; }
    50% { outline-color: transparent; }
}

.flashing-box-alarm {
    outline: 2px solid red;
    display: inline-block;
    padding: 5px;
    animation: flash-alarm 1s infinite;
}

.flashing-box-warning {
    outline: 2px solid yellow;
    display: inline-block;
    padding: 5px;
    animation: flash-warning 1s infinite;
}

/* Tabs */
.tab {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
}

.tab--selected {
    background-color: #007BFF;
    color: white;
    border-bottom: 2px solid #007BFF;
}

.tab-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white; /* Match your page background */
    z-index: 1000; /* Ensure it stays above other elements */
}

.page-content {
    padding-top: 10px;
}
/* DataTable */
.dataTable {
    font-family: Arial, sans-serif;
}

#alarm-table .dash-table-container .dataTable .dash-header {
    background-color: black;
    color: white;
    --text-color: yellow;
    font-weight: bold;
}

.dash-table-container .dash-filter {
    --text-color: yellow; /* Change filter text to yellow */
}

.alarm_table_controls{
    background-color: black;
    display: flex;
    justify-content: left;
    align-items: center;
  
}

.alarm-date-picker{
    height: 20px;
}

.DateInput_input {
    height: 20px !important; /* Adjust input height */
    font-size: 16px; /* Optional: adjust font size */
    padding: 20px; /* Optional: adjust padding */
}

.Select-control{
    width: 100px;
    color:yellow;
    background-color:black;
}

.Select-value{
    color: white;
    background-color:rgb(250, 250, 247);
}

.Select-value-label{
    color: black;
    background-color:white;
}
.Select-menu-outer{
    color: black;
    background-color:white;

}

#gps-selector .Select-control {
    width:150px;
}

#platform-selector .Select-control {
    width:130px;
}

#parameter-selector .Select-control {
    width:130px;
}

#instrument-selector .Select-control {
    width:130px;
}

#map-graph{
    height: 700px;
}
.map-control-button{
    height: 20px;
    position: relative;
    top: 25px;

}

.tab .jsx-2137964197 {
    padding:5px 25px;
}
